@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --primary: oklch(0.585 0.233 277.117);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0.015 277.117);
  --secondary-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --muted: oklch(0.269 0.015 277.117);
  --muted-foreground: oklch(0.708 0.01 277.117);
  --accent: oklch(0.269 0.015 277.117);
  --accent-foreground: oklch(0.985 0 0);
  --border: oklch(0.325 0.019 277.117);
  --ring: oklch(0.585 0.233 277.117);
  --radius: 0.625rem;
}

* {
  border-color: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
}
